.source-tools {
  padding: 10px 20px;
}
.source-tools-database {
  padding: 10px;
}
.source-tools-database .data {
  margin: 10px;
  float: left;
  width: 100%;
}
.source-tools-database .scrool {
  border: 1px solid #eee;
  overflow-y: scroll;
  height: 250px;
  border-top: none;
}
.source-tools-database .scrool .item {
  float: left;
  width: 100%;
  padding: 15px 20px;
}
.source-tools-database .scrool .item:hover,
.source-tools-database .scrool .item.active {
  background-color: #1E9FFF;
  color: #fff;
  cursor: pointer;
}
.source-tools-database .input {
  padding: 5px;
  float: left;
  width: 100%;
}
.source-tools-database .input span {
  color: #777;
}
.source-tools-database .input input {
  width: 400px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}
